body{
    background-color: #155084 ; 
    /* #000080  */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}
.container{
    background-color:  #000080  ;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.concurrency-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.concurrency-container select{
    padding: 10px;
}
.concurrency-container input{
    border: 0;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}
.exchange-rate{
    font-size: 16px;
    font-weight: 600;

}
select:focus,
input:focus{
    outline: 0;
}